
<div class="container">
  <div class="row text-center">
    <div class="col-md-3 ">
      <p> номер заказ</p>
    </div>
    <div class="col-md-3 ">
      <p> дата оформление</p>
    </div>
    <div class="col-md-3 r">
      <p> статус</p>
    </div>
    <div class="col-md-3 ">
      <p> номер </p>
    </div>
  </div>
  <div  *ngFor="let order of listOrder"
        class="row text-center ">
    <div class="col-sm-3 ">
      <h3 > {{order.numOrder}}</h3>
    </div>
    <div class="col-sm-3 ">
      <h3 >{{order.createdAt}}</h3>
    </div>
    <div class="col-sm-3 r">
      <h3>{{ order.status}}</h3>
    </div>
    <div class="col-sm-3">
      <h3>{{ order.status}}</h3>
    </div>
  </div>

</div>
